body{
    background-color: #000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white;
}
.sort{
    display: flex;
    justify-content: center;
    gap: 2em;
    margin: 1em;
}
#status{
    height: 16px;
    width: 16px;
    margin-bottom: 0;
}
.status__input{
    margin-inline: 0.5em;
    width: 16px;
    height: 16px;
}
.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1em;
}
.product{
    display: flex;
    flex-direction: column;
    background-color: #2a2a2a;
    padding: 1em;
    box-shadow: 0 4px 4px 4px hsla(0, 0%, 0%, 0.2);
    border-radius: 16px;
    align-items: center;
    position: relative;
}
.product__status{
    position: absolute;
    top: 16px;
    left: 16px;
    background-color: hsla(0, 0%, 0%, 0.7);
    color: white;
    padding: 0.75em;
    border-radius: 8px 0 8px 0;
    font-size: 0.75em;
}
.product__image{
    width: 100%;
    box-shadow: 0 4px 4px 4px hsla(0, 0%, 0%, 0.2);
    border-radius: 8px;
}
.product__title{
    margin-block: 0.75em;
}
.product__price{
    margin-block: 0.5em;
}